.search-form {
    margin-bottom: 40px;
}

button {
    margin-left: 10px;
    color: #fff;
    background-color: #009b25;
    border-radius: 4px;
    padding: 2px 5px;
    font-size: 18px;
    cursor: pointer;
}