.buttons {
   text-align: center;
   color: brown;
}

h3 {
   text-align: center;
   text-decoration: underline;
}

button {
   margin: 5px;
}

.gold {
   background: gold;
}

.silver {
   background: silver;
}

.copper {
<<<<<<< HEAD
   background: #b87333 ;
=======
   background: #b87333;
>>>>>>> bd292d7fa744c43d7a8cadf1f15b9f85ac04df93
}