.container{
    border-radius: 25px;
    border: 1px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: auto; 
    align-items: center;
}

h2{
    text-align: center;
    text-decoration: underline;
}
p{
    text-align: center;
    font-weight: bolder;
}