.chores {
    color: #ff4f33;
}

.treat {
    color: #419f6a;
}

.doneChores {
    color: #3c79b8;
}

h3 {
    text-align: center;
}

img {
    max-width: 15%;
    height: auto;
    display: block;
    margin: auto;
}

p {
    text-align: center;
}