<div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
    <p *ngIf = "chores.length > finishedChores" style="color: black;">Work harder!</p>
</div>
<hr>
<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
    <img src={{targetImage}} alt="bulleye image" *ngIf = "chores.length === 0 || finishedChores.length - chores.length >= 3; else noAllowance">
</div>
<hr>

<h1 *ngIf = "chores.length === 0 && finishedChores.length >= 4; else earnIcecream" style="color: rgb(104, 148, 59);"> Ice cream treat!</h1>

<ng-template #noAllowance>
    <p style="color: black;" >No allowance yet</p>
</ng-template>

<ng-template #earnIcecream>
    <div class="icecreamList">
            <h3>To earn an ice cream trest: </h3>
            <p>The chores list must be empty.</p>
            <p>The Done list must have at least 4 times</p>
    </div>
</ng-template>

